/*

// Background colors
--color-background-main: #303030;

// Surface colors
--color-surface-dark: #37373a;
--color-surface-medium: #575757;
--color-surface-light: #8b8b8b;

// Text color
--color-text: #FFFFFF;

// Font family
--ff-primary: 'Open Sans', sans-serif;

// Font weights
--fw-thin: 300;
--fw-regular: 500;
--fw-bold: 700;

// Font sizes
--fs-small: 14px;
--fs-regular: 16px;
--fs-large: 24px;

*/

.date-calculator {
  margin: 10px;
  padding: 15px;
  width: fit-content;
  background-color: var(--color-surface-dark);
  border-radius: 5px;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.125);
}

.date-header {
  margin-bottom: 20px;
}

.date-title {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}

.date-content {
  font-weight: var(--fw-thin);
}

.date-values {
  display: flex;
  margin-bottom: 20px;
}

.date-values>div {
  display: flex;
  flex-direction: column;
}

.date-weeks,
.date-periods {
  margin-left: 15px;
}

.date-values>div>label {
  margin-bottom: 5px;
}

.date-values>div>input {
  border: 2px solid transparent;
  width: 75px;
  padding: 5px;
  color: var(--color-text);
  background-color: var(--color-surface-medium);
  font-weight: var(--fw-regular);
}

.date-values>div>input:hover {
  border: 2px solid var(--color-surface-light);
}

.date-start-buttons {
  margin-bottom: 20px;
  padding-top: 6px;
}

.date-start-button {
  padding: 5px 15px;
  background-color: var(--color-surface-medium);
  color: var(--color-text);
  font-weight: var(--fw-regular);
  cursor: pointer;
  border: 2px solid transparent;
}

.date-start-button:hover {
  border: 2px solid var(--color-surface-light);
}

.date-start-button:active {
  transform: scale(0.95);
}

.date-start-button-next {
  margin-left: 10px;
}

.date-startend {
  display: flex;
  padding-top: 6px;
}

.date-startend-inputlabel {
  display: flex;
  flex-direction: column;
}

.date-end {
  margin-left: 15px;
}

.date-startend-input {
  border: 2px solid transparent;
  color: var(--color-text);
  background-color: var(--color-surface-medium);
  font-weight: var(--fw-regular);
  padding: 5px;
  cursor: text;
}

.date-startend-input:hover {
  border: 2px solid var(--color-surface-light);
}

.date-startend-inputlabel>label,
.date-startend-input {
  margin-bottom: 5px;
}

.date-start,
.date-end {
  width: 265px;
}