/*

// Background colors
--color-background-main: #303030;

// Surface colors
--color-surface-dark: #37373a;
--color-surface-medium: #575757;
--color-surface-light: #8b8b8b;

// Text color
--color-text: #FFFFFF;

// Font family
--ff-primary: 'Open Sans', sans-serif;

// Font weights
--fw-thin: 300;
--fw-regular: 500;
--fw-bold: 700;

// Font sizes
--fs-small: 14px;
--fs-regular: 16px;
--fs-large: 24px;

*/

.tax-calculator {
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-surface-dark);
  border-radius: 5px;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.125);
}

.tax-header {
  margin-bottom: 20px;
}

.tax-title {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}

.tax-content {
  font-weight: var(--fw-thin);
  display: flex;
}

.tax-table {
  display: grid;
  width: 250px;
  grid-template-columns: 60% 40%;
  background-color: var(--color-surface-medium);
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}

div[role="button"] {
  cursor: pointer;
}

.tax-table-row {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 60% 40%;
}

.tax-table-row:hover {
  background-color: var(--color-background-main);
}

.selectedTaxMarket {
  background-color: var(--color-background-main);
}

.tax-table-row:nth-last-child(n+2) {
  border-bottom: 0.5px solid rgb(150, 150, 150);
}

.tax-table-market {
  border-right: 0.5px solid rgba(150, 150, 150, 0.35);
  padding: 7.5px;
  font-weight: var(--fw-thin)
}

.tax-table-rate {
  padding: 7.5px;
  text-align: right;
  letter-spacing: 1.25px;
  font-weight: var(--fw-bold);
}

.tax-percent {
  color: var(--color-text-accent);
  font-weight: var(--fw-thin);
}

.tax-cost,
.tax-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 25px;
}

#tax-cost {
  border: 2px solid transparent;
  width: 150px;
  padding: 5px;
  color: var(--color-text);
  background-color: var(--color-surface-medium);
  font-weight: var(--fw-regular);
}

#tax-cost:hover {
  border: 2px solid var(--color-surface-light);
}

#without-tax-digits,
#with-tax-digits,
#tax-amt-digits {
  padding: 5px 5px 0 5px;
  border: 2px solid transparent;
  font-weight: var(--fw-regular);
}

.tax-cost-label,
.with-tax-text,
.without-tax-text {
  margin-bottom: 5px;
}