/* 
https://piccalil.li/blog/a-modern-css-reset 
Has some changes by Kevin Powell, taken from:
https://github.com/kevin-powell/fem-manage-landing-page-part-1/blob/master/style.css#L44
https://www.youtube.com/watch?v=h3bTwCqX4ns&ab_channel=KevinPowell
*/
:root {
  --color-primary-400: #0A0708;
  --color-primary-200: #444444;

  --color-accent-300: #747474;
  --color-accent-100: #B1B1B1;

  --ff-primary: 'Open Sans', sans-serif;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 800;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* New Styles */
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
  font-weight: 300 800;
  /* Light to Extra Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
  font-weight: 300 800;
  /* Light to Extra Bold */
  font-style: italic;
}

body {
  font-family: var(--ff-primary);
  color: var(--color-primary-400);
  font-weight: var(--fw-light);
}

input {
  padding: 5px;
}

input[type='date'] {
  width: 125px;
}

.date {
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px;
}

.date__content {
  display: flex;
  flex-direction: column;
}

.date__header {
  margin: 5px;
}

.date__values {
  margin: 5px;
  display: flex;
}

.date__values>* {
  margin: 0 10px;
}

.date__values input {
  width: 65px;
}

.date__startend {
  display: flex;
}

.date__start,
.date__end {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.date__end--inputlabel {
  grid-row: 2/3;
}

.date__end--subtext {
  grid-row: 3/4;
}